:root {
    --main-blue: #0474BA;
    --main-orange: #F17720;
    --main-grey-body: #E5E5E5;
    --main-grey-separation: #D9D9D9;
    --main-grey-product: #CACACA;
    --main-white: #FFFFFF;
    --main-black: #313131;
    --main-success-toast: #06D6A0;
    --main-yellow-star: #FFE500;
    --project-font: url(./font/Inter/Inter-VariableFont_slnt,wght.ttf), sans-serif;
}


body {
    background-color: var(--main-grey-body);
    font-family: var(--project-font);
}

a.link-dark{
    color: #313131;
    text-decoration: none;
}

a.link-dark:hover{
    color: #313131;
    font-weight: bold;
}

a.link-dark:active{
    color: #5a5a5a !important;
}

.btn-primary {
    --bs-btn-color: var(--main-white);
    --bs-btn-bg: var(--main-orange);
    --bs-btn-border-color: none; 
    --bs-btn-hover-color: var(--main-white);
    --bs-btn-hover-bg: #f28436;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--main-white);
    --bs-btn-active-bg: var(--main-orange);
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--main-white);
    --bs-btn-disabled-bg: var(--main-orange);
    --bs-btn-disabled-border-color: none;
}
    
.btn-secondary {
    --bs-btn-color: var(--main-black);
    --bs-btn-bg: var(--main-grey-separation);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--main-black);
    --bs-btn-hover-bg: #c3c3c3;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: var(--main-black);
    --bs-btn-active-bg: #c3c3c3;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--main-black);
    --bs-btn-disabled-bg: var(--main-grey-separation);
    --bs-btn-disabled-border-color: none;
}

.form-input {
    border-radius: 15px;
    height: 53px;
    width: 90%;
    text-align: center;
}

.price-input {
    border-radius: 5px;
    height: 1.5rem;
    width: 2rem;
    text-align: center;
}

/* Hide scrollbar on number type input */
/* Chrome, Safari, Edge, Opera */
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.price-input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}